<div class="container flexContainer">
  {{{sideBar}}}
  <div class="content flex5">
    <section class="full">
      <div class="header">
				<h3>Sessions</h3>
			</div>
			<div class="chartArea">
				{{{portfolio_sessions_all}}}
			</div>
    </section>
    <section class="full">
			<div class="header">
				<h3>Geographic Location</h3>
			</div>
			<div class="chartArea">
				{{{viz_geo_portfolio}}}
			</div>
		</section>
		<section class="half flexContainer">
		  <div class="flex1 flexBorder">
				<div class="header">
					<h3>Device Type</h3>
				</div>
				<div class="chartArea">
				  {{{portfolio_device_type}}}
				</div>
			</div>
			<div class="flex1">
				<div class="header">
					<h3>Traffic Source</h3>
				</div>
				<div class="chartArea">
					{{{portfolio_source}}}
				</div>
			</div>
		</section>
		<section class="half flexContainer">
		  <div class="flex1 flexBorder">
				<div class="header">
					<h3>Time of Day</h3>
				</div>
				<div class="chartArea">
					{{{timeDayUse_port}}}
				</div>
			</div>
			<div class="flex1">
				<div class="header">
					<h3>Average Time</h3>
				</div>
				<div class="chartArea">
					{{{portfolio_time}}}
				</div>
			</div>
		</section>
		<section class="disclaimerGlossary">
		  <div class="header">
				<h3>Disclaimer/Glossary</h3>
			</div>
		  {{{disclaimerGlossaryText}}}
		</section>
  </div><!--content-->
</div><!--container-->