<div class="disclaimer">
  <h3>About this report</h3>
  <div class="disclaimerText">
    <p>{{{aboutThisReport}}}</p>
    <h3>{{{disclaimerTitle}}}</h3>
    <p>{{{disclaimer1}}}</p>
    <p>{{{disclaimer2}}}</p>
  </div>
</div>
<div class="glossary">
  <h3>{{{glossaryTitle}}}</h3>
  <p>{{{session}}}</p>
  <p>{{{visitors}}}</p>
  <p>{{{geographical}}}</p>
  <p>{{{average}}}</p>
  <p>{{{traffic}}}</p>
  <p>{{{device}}}</p>
</div>